<p id="notice"><%= frozen_string_literal: true

 notice %></p>

<h1>Books <%= frozen_string_literal: true

 t("view.hello") %></h1>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Title</th>
      <th>Memo</th>
      <th>Author</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# frozen_string_literal: true
 @books.each_with_index
 do |book,i| %>
      <tr>
        <td><%= frozen_string_literal: true

 i + 1 %></td>
        <td><%= frozen_string_literal: true

 book.title %></td>
        <td><%= frozen_string_literal: true

 book.memo %></td>
        <td><%= frozen_string_literal: true

 book.author %></td>
        <td><%= frozen_string_literal: true

 book.picture %></td>
        <td><%= frozen_string_literal: true

 link_to "Show", book %></td>
        <td><%= frozen_string_literal: true

 link_to "Edit", edit_book_path(book) %></td>
        <td><%= frozen_string_literal: true

 link_to "Destroy", book, method: :delete, data: { confirm: t("view.messages.confirm") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= frozen_string_literal: true

 paginate @books %>

<br />

<%= frozen_string_literal: true

 link_to "New Book", new_book_path %>
